body {
    background-color: #96ACB7;
}
.parent {
    position: relative;
  }
  
.child {
    width: 600px;
    height: 300px;
    padding: 20px;
  
    position: relative;
    top: 10%;
    left: 30%;
    background-color: #40376E;
  border: 1px solid black;
    margin: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    color: #D4E4BC;
  }
  img {
    width: 280px;
    height: 430px;

    box-shadow:  0 20px 50px rgba(3, 3, 3, 0.7);
  }
  #target {
    
    border-collapse: collapse;
    margin-left: 10%;
    
    box-shadow:  0 20px 50px rgba(3, 3, 3, 0.7);
    border-radius: 25px;

}

#target td, #target th {
    border: 1px solid #ddd;
    padding: 8px;
   
}

#target tr:nth-child(even){
  background-color: #598392;
  color: #01161E;

}
#target tr:nth-child(even){
 
  color: #EFF6E0;

}



#target tr:hover {background-color: #AEC3B0;}

#target th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#124559;
    color: #EFF6E0;
    
}